/** Fix vertical align of check and radio input which are not covered by seven theme. */
.form-item input.form-checkbox, .form-item input.form-radio {
  vertical-align: baseline;
}
/***/


/** Fix conflict AdminLTE and theme: seven. */
html {
  font-size: 16px;
}

.breadcrumb {
  background-color: #e0e0d8;
}
/***/