/**
 * Eliminate form builder blue frame when move elements.
 * Almost all theme has same inconvenience.
 */
#form-builder div.form-builder-placeholder {
  border: none;
}
/***/

/** Adjust style in inline container, items should be inline one by one, instead of inline all items. */
.container-inline div.form-item {
  display: block;
  padding: 0;
  margin: 0;
}

/* Fix help text style in inline container. */
.container-inline .form-item div.description {
  display: block;
}

.container-inline label {
  min-width: 10em;
  display: inline-block;
}
/***/
