@charset "UTF-8";
/**
 * @file
 *   Styles for font of Moha Survey.
 */

body.page-moha-survey {
  background-color: #ededed;
}

body #page-wrapper {
  max-width: 500px;
  margin: auto;
}

body.page-moha-survey h1 {
  font-size: 1.25em;
  padding: 0 15px;
  text-align: center;
}

/** Fix style conflict between bootstrap and WeUI. */
div.weui-cell__bd p,
label.weui-cell.weui-check__label {
  margin-bottom: 0;
}

.weui-cells__title {
  color: #333;
  font-weight: bold;
}

.weui-btn {
  width: 184px;
}
/***/

/** Add red border for survey element **/
.weui-cells.error {
  border: 1px solid #ed541d;
  background-image: unset;
}
