/*  */
body.page-admin-moha-survey * {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

body.page-admin-moha-survey label {
  display: unset;
}

.form-options .remove-default,
.form-options .form-options-manual,
.form-options .form-option-add,
#moha-survey-component-edit-form .form-options .form-radio {
  display: none;
}

.form-options .draggable a.tabledrag-handle {
  float:initial;
  display: block;
  margin: auto;
}

.form-options .draggable a.tabledrag-handle .handle {
  margin: -0.4em auto;
}

/** Dashboard */
.page-admin-moha-survey #page {
  margin-left: 20px;
  margin-right: 20px;
}

.page-admin-moha-survey .content {
  padding-left: 0;
  padding-right: 0;
}

.moha-survey .box-body {
  min-height: 20rem;
}

.moha-survey .box-body.no-padding table {
  margin-bottom: 0;
}

.page-admin-moha-survey .box-header > .fa,
.page-admin-moha-survey .box-header > .glyphicon,
.page-admin-moha-survey .box-header > .ion,
.page-admin-moha-survey .box-header .box-title {
  font-size: 1rem;
}

.page-admin-moha-survey table th {
  text-transform: capitalize;
}
/***/

@media (min-width: 1200px) {
  .page-admin-moha-survey .moha-survey-form-layout {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
  }

  .page-admin-moha-survey .moha-survey-form-items {
    flex-grow: 1;
    margin-right: 20px;
  }
}

/** Survey edit analysis */
.page-admin-moha-survey-edit-analysis .webform-analysis-component {
  width: 100%;
}

.page-admin-moha-survey-edit-analysis .webform-analysis-component-inner {
  padding: 0;
}
/***/
