@charset "UTF-8";
/**
 * @file
 *   Styles for font of Moha Admin Menu.
 */

/**
 * If menu items need be styled, use below selectors:
 *
 *   body.adminimal-menu #admin-menu .dropdown li li
 *   body.adminimal-menu #admin-menu #admin-menu-wrapper .dropdown li li.expandable
 */
body.adminimal-menu .slicknav_menu, body.adminimal-menu div#admin-menu {
  background-color: darkgreen;
}

body.adminimal-menu div#admin-menu:after {
  content: 'non-prd';
  display: inline-block;
  position: absolute;
  padding: 5px 10px;
  color: darkgreen;
  font-family: -apple-system, 'microsoft yahei', 'PingFang SC', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", tahoma, arial, 'helvetica neue', 'hiragino sans gb', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-shadow: white 2px 2px 4px;
  background: rgba(0,255,0, 0.25);
}
