h1.page-header {
  display: none;
}

div.messages, article, #block-system-main {
  max-width: 420px;
}

.field-name-image img {
  max-width: 200px;
  margin: auto;
}

.order-result img {
  width: 50px;
}

.product-title, .order-result {
  text-align: center;
}

.btn {
  width: 100%;
  margin: 10px 0;
}
