.moha_ui_hide {
  display: none;
}

.moha_ui_show {
  display: inherit;
}

/** WeUI style fix. */
.weui-dialog__btn,
.weui-gallery__del{
  line-height: inherit;
}

a.weui-dialog__btn:hover {
  text-decoration: none;
}

a.weui-dialog__btn_primary:hover {
  color: #0BB20C;
}
/***/

/** Fix style conflict with bootstrap and seven. */
.field-widget-moha-ui-image-mobile-uploader div.table-responsive {
  border: none;
}

.field-widget-moha-ui-image-mobile-uploader legend.panel-heading {
  margin-bottom: 0;
  margin-left: 10px;
  width: inherit;
  background-image: inherit;
  background-color: transparent;
  border: none;
  padding: 0 5px;
}

div.moha_ui_image_mobile_uploader_preview ul.weui-uploader__files,
ul.weui-uploader__files.moha_ui_image_mobile_preview {
  list-style: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

.weui-uploader__file {
  cursor: pointer;
}

input[type="file"].weui-uploader__input {
  height: 100%;
  padding: 0;
}

.weui-uploader__input-box {
  width: 79px;
  height: 79px;
}
/***/

.weui-mask_transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

/***/

/** Mobile Preview Window  */
#moha_ui_preview_wrapper.iphone6 {
  width: 320px;
  height: 567px;
  padding: 85px 22px 90px 25px;
  background: url(../img/iphone-6.png) no-repeat 0 0;
}

#moha_ui_preview_wrapper.iphone6 iframe {
  width: 320px;
  height: 567px;
}

#moha_ui_preview_wrapper.iphone6-rose,
#moha_ui_preview_wrapper.iphone6-rose iframe {
  width: 375px;
  height: 667px;
}

#moha_ui_preview_wrapper.iphone6-rose {
  padding: 113px 30px 105px 30px;
  background: url(../img/iphone-6-rose-glod.png) no-repeat 0 0;
  background-size: contain;
}
/***/
