@charset "UTF-8";
/**
 * @file
 * Admin styles of the module.
 */
/** Original */
body.page-admin-moha-dashboard.drupal-admin-ui-off.admin-menu.adminimal-menu:before {
  max-height: 0;
}

body.page-admin-moha-dashboard.drupal-admin-ui-off .slicknav_menu,
body.page-admin-moha-dashboard.drupal-admin-ui-off #branding {
  display: none;
}

body.page-admin-moha-dashboard.drupal-admin-ui-on.admin-menu.adminimal-menu:before {
  max-height: inherit;
}

body.page-admin-moha-dashboard.drupal-admin-ui-on #branding {
  display: block;
}

body.page-admin-moha-dashboard a:hover {
  text-decoration: none;
}
