.moha_ui_hide {
  display: none;
}

.moha_ui_show {
  display: inherit;
}

/** WeUI style fix. */
a.weui-dialog__btn:hover {
  text-decoration: none;
}

a.weui-dialog__btn_primary:hover {
  color: #0BB20C;
}
/***/

/** Fix style conflict with bootstrap and seven. */
div.moha_ui_image_mobile_uploader_preview ul.weui-uploader__files,
ul.weui-uploader__files.moha_ui_image_mobile_preview {
  list-style: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

.weui-uploader__file {
  cursor: pointer;
}

input[type="file"].weui-uploader__input {
  height: 100%;
  padding: 0;
}

.weui-uploader__input-box {
  width: 79px;
  height: 79px;
}
/***/

.weui-mask_transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
