/** WeUI style fix. */
a.weui-dialog__btn:hover {
  text-decoration: none;
}

a.weui-dialog__btn_primary:hover {
  color: #0BB20C;
}
/***/

/** Fix style conflict with bootstrap and seven. */
input[type="file"].weui-uploader__input {
  height: 100%;
  padding: 0;
}
/***/
