@charset "UTF-8";
/**
 * @file
 * Admin styles of the module.
 */
html, textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/** Admin form elements style fix. ************************************************************************************/
body.page-admin-moha label {
  display: block;
}

body.page-admin-moha .container-inline label {
  display: inline-block;
}

body.page-admin-moha .form-radios .form-item label,
body.page-admin-moha .form-checkboxes .form-item label,
body.page-admin-moha td label {
  display: inline;
}

body.page-admin-moha legend {
  width: auto;
  font-size: inherit;
}

body.page-admin-moha input.form-autocomplete,
body.page-admin-moha input.form-text,
body.page-admin-moha input.form-file,
body.page-admin-moha select.form-select {
  height: 30px;
}

body.page-admin-moha input.form-autocomplete,
body.page-admin-moha input.form-text,
body.page-admin-moha input.form-file,
body.page-admin-moha textarea.form-textarea,
body.page-admin-moha select.form-select {
  border-radius: 4px;
  padding: 2px 10px;
  border-color: #d2d6de;
}

body.page-admin-moha input.form-autocomplete:focus,
body.page-admin-moha input.form-text:focus,
body.page-admin-moha input.form-file:focus,
body.page-admin-moha textarea.form-textarea:focus,
body.page-admin-moha select.form-select:focus {
  border-color: #bebfb9;
}

body.page-admin-moha .form-human-name {
  display: inline-block;
  max-width: 400px;
}
/**********************************************************************************************************************/

/** Date range picker ***/
div.daterangepicker .calendar {
  width: auto;
}

div.daterangepicker table th {
  background-color: white;
}

div.daterangepicker tr td:last-child {
  border-right: 1px solid white;
}
/**********************************************************************************************************************/

/** Original */
body.page-admin-moha-dashboard.drupal-admin-ui-off.admin-menu.adminimal-menu:before {
  max-height: 0;
}

body.page-admin-moha-dashboard.drupal-admin-ui-off .slicknav_menu,
body.page-admin-moha-dashboard.drupal-admin-ui-off #branding {
  display: none;
}

body.page-admin-moha-dashboard.drupal-admin-ui-on.admin-menu.adminimal-menu:before {
  max-height: inherit;
}

body.page-admin-moha-dashboard.drupal-admin-ui-on #branding {
  display: block;
}

body.page-admin-moha-dashboard a:hover {
  text-decoration: none;
}

/** Progress bar in table needn't margin */
body.page-admin-moha-dashboard table tr>td .progress {
  margin: 0;
}

body.page-admin-moha-dashboard .box table th {
  text-transform: unset;
  background: unset;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
}
