body.page-moha-moha-clips {
  background-color: #f0f1f2;
}

.region.region-content {
  margin-left: -15px;
  margin-right: -15px;
}

/** iPhone Plus- */
@media(max-width: 414px) {
  .view.view-moha-clip-list {
    padding-left: 0;
    padding-right: 0;
  }
}
/* iPhone Plus- **/

.page-header {
  display: none;
}

.views-row {
  position: relative;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.views-row:before, .views-row:after {
  display: table;
  content: "";
  line-height: 0;
}

.views-row:after {
  clear: both;
}

.views-field-body {
  float: left;
  padding: 20px 0 20px 20px;
}

.views-field-body a:hover {
  text-decoration:none;
}

.views-field-body h2 {
  font-size: 16px;
  margin: 0;
}

.views-field-image {
  position: relative;
  width: 160px;
  height: 90px;
  background: #b2b2b2 url(../../../img/diagonal-stripes.svg) repeat fixed;
  float: right;
  border-left: 1px solid #ddd;
  /*box-shadow: 0 0 5px 0 #aaa;*/
}

.views-field-image img {
  font-size: 1px;
  max-width: 159em;
  max-height: 90em;
  width: auto!important;
  height: auto!important;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) matrix(1,0,0,1,0,0);
  position: absolute;
}

.node-actions {
  position: absolute;
  right: 170px;
  bottom: 5px;
}

.node-actions a {
  font-size: 12px;
}
