h1.page-header {
  display: none;
}

.nav-tabs {
  border-bottom: none;
}

.node-unpublished {
  background-color: transparent;
  border: dotted gray 1px;
}

/** Feature Image. */
.field-name-image {
  background: #b2b2b2 url(../../../img/diagonal-stripes.svg) repeat fixed;
}

.field-name-image .field-items .field-item img {
  margin: auto;
}

@media (max-width: 991px) {
  .field-name-image .field-items .field-item img {
    max-height: 160px;
    width: auto;
  }
}

@media (min-width: 992px) {
  .field-name-image .field-items .field-item img {
    max-height: 300px;
    width: auto;
  }
}

/***/

/** Sidebar definition. */
article div.row {
  position: relative;
}

/* Fix side to right on tablet or mobile. */
@media (min-width: 992px) {
  article div.row div.col-md-3.col-xs-12 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: 991px) {
  article div.row div.col-md-3.col-xs-12 {
    display: none;
  }
}
/***/


/** Author block. */
.author-block {
  border-radius: 3px;
}

.author-block .author-name,
.author-block .article-created {
  text-align: center;
  padding: 10px 0;
}

.author-block .user-picture {
  padding: 10px 0 0;
}

.user-picture img {
  margin: auto;
  border-radius: 50%;
  border: 1px solid #abb;
  padding: 2px;
  width: 80px;
}

/* Theme: white-back-2018. */
.white-back-2018.author-block {
  border: 1px solid #e0e0e0;
}

.white-back-2018.author-block .author-name {
  border-bottom: 1px solid #f0f0f0;
}
/***/

/** TOC block. */
div.toc-block {
  position: relative;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.toc-block ul ul {
  text-indent: 16px;
}

.white-back-2018 .toc-block {
  border-color: #e0e0e0;
}

.white-back-2018 #tocify li.active {
  background-color: inherit;
}

.white-back-2018 .toc-block a {
  color: dimgray;
  padding: 5px 10px;
}

.white-back-2018 .toc-block .active a {
  color: #337ab7;
  border-bottom: 1px solid;
}
/***/

/** Moha Clip: Scroll to Top */
.moha-clip-scroll-2-top {
  position: fixed;
  bottom: 38px; /* Align with bottom footer. */
  width: 50px;
  right: -50px;
  height: 56px;
  background-color: rgba(51,51,51,0.5);
  -webkit-transition: right .5s linear;
  -moz-transition: right .5s linear;
  -ms-transition: right .5s linear;
  -o-transition: right .5s linear;
  transition: right .5s linear;
  cursor: pointer;
}

.moha-clip-scroll-2-top.moha-clip-scroll-2-top-display {
  right: 0;
}

.moha-clip-scroll-2-top i.fa {
  font-size: 50px;
}

.white-back-2018 .moha-clip-scroll-2-top i.fa {
  color: white;
}
/***/