/* Fix field head style. */
#page {

}


form .field-multiple-table th.field-label label {
  padding-left: 3px;
}

legend {
  margin-left: 5px;
}

/* For admin/moha/moha_clip page. */
fieldset .fieldset-legend {
  position: relative;
  margin-top: 0;
}

.cke_contents.cke_reset textarea.cke_source {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono",monospace,Inconsolata,Courier,'Courier New';
}

/* Customize CKEditor drop down menu in toolbar. */
div.cke_combopanel {
   width: 300px;
}


/** CKEditor Styles. */
/* Template dialog height. */
.cke_tpl_list {
  height: 460px;
  min-height: 460px;
}

/* enforce template image. */
.cke_tpl_preview_img img {
  width: 100px;
}
/***/

/** Fix media widget style for feature images field, this should also work for other fields which is using media widget. */
/* Eliminate browse button indent, and add top margin. */
.media-widget.form-media .preview {
  display: block;
  margin-bottom: 10px;
}

/* Decrease bottom margin of browse button. */
.form-item.form-type-media {
  margin-bottom: 0;
}
/***/

/** Move action buttons to right bottom cornet of page. */
.form-actions.form-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  padding-top: 1em;
  padding-left: 1em;
  z-index: 9999;
}

/* Style ajax progress message. */
.form-actions.form-wrapper .ajax-progress.ajax-progress-throbber {
  margin-right: 1em;
}

.form-actions.form-wrapper .ajax-progress.ajax-progress-throbber .message {
  color: white;
}
/***/

div.content {
  max-width: 850px;
}

div#moha-node-preview-wrapper {
  position: absolute;
  padding-top: 30px;
  right: 0;
  width: 850px;
  height: 400px;
}

iframe#moha-node-preview {
  width: 100%;
  height: 100%;
}
