/* Fix head style */
form .field-multiple-table th.field-label label {
  padding-left: 3px;
}

legend {
  margin-left: 5px;
}

/* For admin/moha/moha_clip page. */
fieldset .fieldset-legend {
  position: relative;
  margin-top: 0;
}
