h1.page-header {
  display: none;
}

.nav-tabs {
  border-bottom: none;
}

/** Feature Image. */
.field-name-image {
  background: #b2b2b2 url(../../../img/diagonal-stripes.svg) repeat fixed;
}

.field-name-image .field-items .field-item img {
  margin: auto;
}
/***/

/** Sidebar definition. */
article div.row {
  position: relative;
}

article div.row div.col-md-3.col-xs-12 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
/***/


/** Author block. */
.author-block {
  border-radius: 3px;
}

.author-block .author-name,
.author-block .article-created {
  text-align: center;
  padding: 10px 0;
}

.author-block .user-picture {
  padding: 10px 0 0;
}

.user-picture img {
  margin: auto;
  border-radius: 50%;
  border: 1px solid #abb;
  padding: 2px;
  width: 80px;
}

/* Theme: white-back-2018. */
.white-back-2018.author-block {
  border: 1px solid #e0e0e0;
}

.white-back-2018.author-block .author-name {
  border-bottom: 1px solid #f0f0f0;
}
/***/

/** TOC block. */
div.toc-block {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.toc-block ul ul {
  text-indent: 20px;
}

.white-back-2018 .toc-block {
  border-color: #e0e0e0;
}

.white-back-2018 #tocify li.active {
  background-color: inherit;
}

.white-back-2018 .toc-block a {
  color: dimgray;
}

.white-back-2018 .toc-block .active a {
  color: #337ab7;
}
/***/

