.rating-stars .rating-stars-container .rating-star {
  display: inline-block;
  font-size: 32px;
  color: #555555;
  cursor: pointer;
  padding: 5px 10px;
}

.rating-stars div.rating-stars-container div.rating-star.is--active,
.rating-stars div.rating-stars-container div.rating-star.is--hover {
  color: #f1c40f;
}

.weui-cell .rating-stars .rating-stars-container .rating-star.is--active,
.weui-cell .rating-stars .rating-stars-container .rating-star.is--hover {
  color: #09BB07;
}
